@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.social-media {
  @apply hover:text-purple-400 hover:outline-2 hover:outline-purple-400 p-2 hover:rounded-2xl hover:shadow-2xl hover:shadow-purple-400;
}
